/* Пример стиля для заголовка */
h1 {
    color: #000000fd; /* Цвет текста */
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
}

h2 {
    color: #000000fd; /* Цвет текста */
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
}

h3 {
    color: #000000fd; /* Цвет текста */
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
}

/* Пример стиля для фона контейнера */
.container {
    background-color: #b7ff31; /* Цвет фона */
    padding: 20px; /* Внутренний отступ */
}

/* Пример стиля для кнопки */
.btn {
    background-color: #007bff; /* Цвет фона кнопки */
    color: #f07b7b; /* Цвет текста кнопки */
    padding: 10px 20px; /* Внутренний отступ кнопки */
    border: none; /* Убирает границу кнопки */
    cursor: pointer; /* Устанавливает курсор в виде указателя */
}

.content{
    color: rgb(0, 0, 0)
}

.content2{
    color: rgb(0, 0, 0)
}