{% include "users/base.html" %}
{% block title %}
    <title>Login</title>
{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {#{{ form.as_p }}#}
            {{ form.non_fields_errors }}
            {% for f in form %}
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">{{ f.label }}</label>
                    <div class="form-control">{{ f }}</div>
                    <label for="disabledTextInput" class="form-label">{{ f.errors }}</label>
                </div>
                <br>
            {% endfor %}
            <br>
            <input class="btn btn-primary" type="submit">
        </form>
    </div>
{% endblock %}